:root {
  --text-primary: black;
  --text-secondary: grey;

  --primary: blue;
  --secondary: green;

  --button-primary: #ffe9e9;
  --button-primary-light: #fff0f0;
  --button-border: #b18597;

  --white: white;

  --red: #ca4747;
}
