/*Loading */
.loading{
  display:none;
  width: 360px;
  height: 0px ;
  opacity:0;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.loading:after {
  content: '';
  display: block;
  font-size: 25px;
    width: 0.6em;
    height: 0.6em;
  animation: spinner 1500ms infinite linear;
  border-radius: 100%;
      box-shadow:rgba(0, 0, 0, 0.125) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.25) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.375) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.5) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.625) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.875) 0 -1.5em 0 5.5px, rgb(0, 0, 0) 1.1em -1.1em 0 5.5px;

}
.loading__header{
  position: absolute;
  top:5%;
  color: var(--text-primary);
  font-size: 32px;
  margin: 7px 0;
}
.dot1{
  animation: disappear 2000ms infinite ;
}

.dot2{
  animation: disappear2 2000ms infinite ;
}

.dot3{
  animation: disappear3 2000ms infinite ;
}
/* Animation */
@keyframes spinner {

     100% {
         box-shadow: rgba(0, 0, 0, 0.25)1.5em 0 0 5.5px, rgba(0, 0, 0, 0.375) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.5) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.625) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.75) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.875)-1.1em -1.1em 0 5.5px, rgb(0, 0, 0)  0 -1.5em 0 5.5px,rgba(0, 0, 0, 0.125) 1.1em -1.1em 0 5.5px;
   } 
     87.5% {
         box-shadow: rgba(0, 0, 0, 0.375) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.5) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.625) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.875) -1.5em 0 0 5.5px, rgb(0, 0, 0) -1.1em -1.1em 0 5.5px,rgba(0, 0, 0, 0.125)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.25) 1.1em -1.1em 0 5.5px;
   } 
     75% {
         box-shadow: rgba(0, 0, 0, 0.5) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.625) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.75) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.875) -1.1em 1.1em 0 5.5px, rgb(0, 0, 0) -1.5em 0 0 5.5px,rgba(0, 0, 0, 0.125) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.25)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.375) 1.1em -1.1em 0 5.5px;
   } 
     62.5% {
         box-shadow: rgba(0, 0, 0, 0.625) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.875) 0 1.5em 0 5.5px, rgb(0, 0, 0) -1.1em 1.1em 0 5.5px,rgba(0, 0, 0, 0.125) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.25) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.375)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.5) 1.1em -1.1em 0 5.5px;
   } 
     50% {
         box-shadow:rgba(0, 0, 0, 0.75) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.875) 1.1em 1.1em 0 5.5px, rgb(0, 0, 0) 0 1.5em 0 5.5px,rgba(0, 0, 0, 0.125) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.25) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.375) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.5)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.625) 1.1em -1.1em 0 5.5px ;
   } 
     37.5% {
         box-shadow: rgba(0, 0, 0, 0.875) 1.5em 0 0 5.5px, rgb(0, 0, 0) 1.1em 1.1em 0 5.5px,rgba(0, 0, 0, 0.125) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.25) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.375)-1.5em 0 0 5.5px, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.625)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 5.5px;
   } 
     25% {
         box-shadow: rgb(0, 0, 0) 1.5em 0 0 5.5px,rgba(0, 0, 0, 0.125) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.25) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.375) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.5) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.625) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.75)  0 -1.5em 0 5.5px, rgba(0, 0, 0, 0.875) 1.1em -1.1em 0 5.5px;
   }
    12.% {
         box-shadow:rgba(0, 0, 0, 0.125) 1.5em 0 0 5.5px, rgba(0, 0, 0, 0.25) 1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.375) 0 1.5em 0 5.5px, rgba(0, 0, 0, 0.5) -1.1em 1.1em 0 5.5px, rgba(0, 0, 0, 0.625) -1.5em 0 0 5.5px, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 5.5px, rgba(0, 0, 0, 0.875) 0 -1.5em 0 5.5px, rgb(0, 0, 0) 1.1em -1.1em 0 5.5px;
   }

}
@keyframes disappear{
  0%{
    opacity:100%
  }
  25%{
    opacity:50%
  }
  50%{
    opacity:10%
  }
  75%{
    opacity:10%
  }
  100%{
    opacity:100%
  }
}
@keyframes disappear2{
  0%{
    opacity:50%
  }
  25%{
    opacity:100%
  }
  50%{
    opacity:50%
  }
  75%{
    opacity:100%
  }
  100%{
    opacity:50%
  }
}
@keyframes disappear3{
  0%{
    opacity:10%
  }
  25%{
    opacity:50%
  }
  50%{
    opacity:100%
  }
  75%{
    opacity:50%
  }
  100%{
    opacity:10%
  }
}