* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e1e1e1;
  position: relative;
  font-family: 'Press Start 2P';
  width: auto;
  position: relative;
}

.final {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

.final p {
  font-size: 2.5em;
  text-align: center;
  width: 80%;
}

.final a {
  opacity: 1;
  transform: translateY(-100%);
  font-size: 2em;
  padding: 1em 2em;
  border: 2px solid #303030;
  margin-top: 10em;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #e1e1e1;
}

.final a:hover {
  background-color: #303030;
  color: #e1e1e1;
  cursor: pointer;
}
