* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$grey: #e1e1e1;
$black: #303030;

.trans {
    background-color: $grey;
    font-family: 'Press Start 2P';
    animation: backgroundColor 3s infinite;
    animation-delay: 5s;
    animation-iteration-count: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.buch {
    font-size: 6em;
    animation: buch 3s;
    opacity: 0;
}

.description {
    font-size: 1.5em;
    text-align: center;
    animation: description 8s;
    animation-delay: 21s;
    opacity: 0;
}

.work {
    font-size: 3em;
    opacity: 0;
}

.bridge {
    width: 100%;
    display: none;
    animation: img 6s;
    animation-delay: 35s;
}

@keyframes backgroundColor {
    0% {
        background-color: $black;
    }
    20% {
        background-color: #e74c3c;
    }
    40% {
        background-color: #2980b9;
    }
    60% {
        background-color: #8e44ad;
    }
    80% {
        background-color: #e67e22;
    }
    90%{
        background-color: #16a085
    }
    100% {
        background-color: $black;
    }
}

@keyframes buch {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes description {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

